// override default style from thankyou stylesheet
#desktop-header-search #desktop-search-form fieldset,
#header-mobile #mobile-header-search #mobile-search-form fieldset {
    text-indent: 0;

    li a {
        position: relative;
        right: auto;
        top: auto;
        left: auto;
        bottom: auto;
        width: auto;
        height: auto;
    }
}

#desktop-header-search .cs-form-search.show {
    @media screen and (min-width: 1260px) {
        top: 0 !important;
    }
}

#desktop-search-form .cs-input-search-wrapper {
    position: relative;
    background: white;
    @media screen and (max-width: 1260px) {
        &:after {
            content: '';
            position: absolute;
            height: 100%;
            right: -1px;
            left: auto;
            bottom: auto;
            top: 0;
            width: 1px;
            background: #888888;
        }
    }

    .autoComplete.cs-input-element {
        background: white !important;
        box-shadow: none;
        border-left: 1px solid #979797;
        padding: 11px 16px 12px 41px;
        box-shadow: none !important;

    }
}

#desktop-header-search #desktop-search-form fieldset .cs-input-search-link,
#header-mobile #mobile-header-search #mobile-search-form fieldset .cs-input-search-link {
    color: #888888;
    right: auto;
    top: 13px;
    left: 13px;
    bottom: auto;
    position: absolute;
    transition: color .3s ease, opacity ease .3s;
    opacity: 1;
    background-color: transparent;
    padding: 0;

    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        // IE11
        top: 15px;
        overflow: visible;
    }


    @media screen and (max-width: 1259px) and (min-width: 960px){
        top: 5px;
        height: 26px;
    }

    &[aria-disabled=true] {
        opacity: .7;

        &:hover {
            color: #888888;
            cursor: default;
        }

    }

    i {
        font-size: 20px;
    }

    &:hover {
        color: #000;
    }

    &:focus {
        outline: #0076c0 solid 3px !important;
    }
}

#desktop-header-search #desktop-search-form {
    @media screen and (max-width: 1259px) {
        width: 351px;

        &.show {
            top: 50px;
            display: block;
        }
    }
}

#desktop-header-search .cs-desktop-toggle-form {
    width: 54px;
    height: 50px;
    outline: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #e7e7e7;

    @media screen and (min-width: 1260px) {
        display: none;
    }

    i {
        font-size: 23px !important;
        color: #303030;
        padding: 0 !important;
        margin: 0 !important;
    }

    i.close-search {
        display: none;
        color: #fff;
    }

    .close-search-label {
        display: none;
    }

    &:focus {
        outline: #0076c0 solid 3px !important;
        outline-offset: -3px;
    }

    &.show {
        background: #303030;
        border-right: 1px solid #fff;

        i {
            display: none;
        }

        i.close-search {
            display: block;
        }

        .open-search-label {
            display: none;
        }

        .close-search-label {
            display: block;
            ;
        }
    }
}


.cs-autocomplete-wrapper {
    background: white;
    width: 380px;
    top: 47px;
    left: 1px;
    right: auto;
    bottom: auto;
    position: absolute;
    overflow: hidden;
    height: 0;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.50);
    transition: height .3s ease-out;

    @media screen and (max-width: 1259px) {
        .show & {
            width: 350px;
            top: 20px;
            z-index: -1;
        }
    }

    .cs-autocomplete-wrapper-item {
        padding: 5px 41px 13px;

        &:first-child {
            padding: 32px 41px 13px;
        }

        &:last-child {
            padding: 15px 41px 20px;
        }
    }

    .cs-autocomplete-did-you-mean-item + .cs-autocomplete-wrapper-item {
        padding: 5px 41px 13px;
    }

    .cs-autocomplete-wrapper-item h3 {
        font-family: "InterstateBold",
            "HelveticaNeue-Light",
            "Helvetica Neue Light",
            "Helvetica Neue",
            Helvetica,
            Arial,
            sans-serif !important;
        position: relative;
        text-transform: uppercase !important;
        margin: 0 !important;
        margin-top: 1px!important;
        padding: 0;
        font-size: 14px !important;
        font-weight: normal;
        letter-spacing: -0.02em;
        color: #000000 !important;
        border-bottom: 1px solid #979797;
        padding-bottom: 7px;

        @media screen and (max-width: 768px) {
            font-size: 14px !important;
            padding-bottom: 6px;
            margin-bottom: 4px !important;
        }
    }

    ul {
        margin: 0;
        padding: 0;
    }

    li {
        line-height: 17px;

        &:first-child {
            margin-top: 4px;
        }

        a {
            font-family: "InterstateLight", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
            font-size: 14px !important;
            padding: 12px 0 8px!important;
            position: relative !important;
            top: auto !important;
            right: auto !important;
            bottom: auto !important;
            left: auto !important;
            z-index: 9999 !important;
            color: #000000 !important;
            transform: translate3d(0, 0, 0);
            -webkit-transform: translate3d(0, 0, 0);

            &:hover {
                text-decoration: underline !important;
            }

            &:focus {
                outline: #0076c0 solid 3px !important;
            }
        }
    }

    mark {
        font-family: "InterstateBold",
            "HelveticaNeue-Light",
            "Helvetica Neue Light",
            "Helvetica Neue",
            Helvetica,
            Arial,
            sans-serif !important;
        background: none;
    }

    .cs-autocomplete-no-results-item,
    .cs-autocomplete-product-not-available-item,
    .cs-autocomplete-did-you-mean-item {
        padding: 34px 45px 30px;
        box-sizing: border-box;

        @media screen and (max-width: 768px) {
            padding: 23px !important;
        }

        h3 {
            font-family: "InterstateRegular",
                "HelveticaNeue-Light",
                "Helvetica Neue Light",
                "Helvetica Neue",
                Helvetica,
                Arial,
                sans-serif !important;
            position: relative;
            margin: 0 !important;
            padding: 0;
            font-size: 16px !important;
            font-weight: normal;
            letter-spacing: -0.02em;
            color: #000 !important;
        }

        p {
            font-family: "InterstateLight", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
            font-size: 14px;
            margin-top: 0;
            margin-bottom: 10px;
            padding: 0;
            color: #000;
        }

        #header-desktop & a {
            position: relative !important;
            right: auto !important;
            top: auto !important;
            left: auto !important;
            bottom: auto !important;
            width: auto !important;
            height: auto !important;
            font-family: "InterstateRegular",
            "HelveticaNeue-Light",
            "Helvetica Neue Light",
            "Helvetica Neue",
            Helvetica,
            Arial,
            sans-serif !important;
            color: #000000 !important;
            font-size: 14px !important;

            &:hover {
                text-decoration: underline !important;
            }

            &:focus {
                outline: #0076c0 solid 3px !important;
            }
        }
    }

    .cs-autocomplete-product-not-available-item {
        padding: 34px 45px 25px;

        @media screen and (max-width: 959px) {
            padding: 18px 25px 13px;
        }

        margin-bottom: 26px;
        background: #EEEEEE;
        position: relative;

        h3 {
            padding-bottom: 5px;
        }

        p {
            margin-bottom: 0;
        }

        button.cs-close-product-banner {
            position: absolute;
            right: 15px;
            top: 15px;
            left: auto;
            bottom: auto;
            width: 17px;
            height: 20px;
            -webkit-appearance: none;
            -moz-appearance: none;
            cursor: pointer;
            margin: 0;
            padding: 0;
            border: none;
            background-color: transparent;
            display: flex;
            justify-content: flex-start;
            flex-direction: column;

            @media screen and (max-width: 1259px) and (min-width: 960px) {
                top: 30px;
                z-index: 999;
            }

            .cs-input-close-icon {
                width: 17px;
                height: 20px;
                transform: translateX(50%);

                &:before,
                &:after {
                    height: 21px;
                    width: 1px;
                    display: block; 
                }
            }

            &:focus {
                outline: #0076c0 solid 3px !important;
            }
        }
    }

    .cs-autocomplete-did-you-mean-item {
        padding: 30px 45px 16px;
        p {
            margin: 0;
            font-family: "InterstateLight", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif !important;

            .cs-suggested-term {
                outline: none;
                margin: 0;
                padding: 0;
                background: transparent;
                text-decoration: underline;
                font-family: "InterstateLight", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
                font-size: inherit!important;
            }
        }
    }
}

#desktop-header-search .cs-autocomplete-wrapper-item a.cs-see-all,
#header-mobile #mobile-header-search #mobile-search-form .cs-autocomplete-wrapper-item a.cs-see-all {
    position: relative !important;
    right: auto !important;
    top: auto !important;
    left: auto !important;
    bottom: auto !important;
    width: auto !important;
    height: auto !important;
    font-family: "InterstateRegular",
        "HelveticaNeue-Light",
        "Helvetica Neue Light",
        "Helvetica Neue",
        Helvetica,
        Arial,
        sans-serif !important;
    color: #000000 !important;
    font-size: 14px !important;

    &:hover {
        text-decoration: underline !important;
    }

    &:focus {
        outline: #0076c0 solid 3px !important;
    }
}

#header-mobile #mobile-header-search #mobile-search-form .cs-autocomplete-wrapper-item a.cs-see-all {
    font-size: 14px;
}

.cs-autocomplete-data {
    display: none;
}

.cs-loading-state {
    &::before {
        content: " ";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 50%;
        z-index: 1;
        width: 500%;
        margin-left: -250%;
        -webkit-animation: phAnimation 0.8s linear infinite;
        animation: phAnimation 0.8s linear infinite;
        background: linear-gradient(to right, rgba(255, 255, 255, 0) 46%, rgba(255, 255, 255, 0.35) 50%, rgba(255, 255, 255, 0) 54%) 50% 50%;
    }
}

.cs-loading-state-title {
    height: 20px;
    width: 150px;
    margin-bottom: 10px;
    background: #ced4da;
    margin-top: 15px;

    &:first-child {
        margin-top: 0;
    }
}

.cs-loading-state-p {
    height: 10px;
    width: 100px;
    margin: 8px 0;
    background: #ced4da;
}

.cs-loading-state-container {
    padding: 34px 45px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

@keyframes phAnimation {
    0% {
        transform: translate3d(-30%, 0, 0);
    }

    100% {
        transform: translate3d(30%, 0, 0);
    }
}

.cs-input-close {
    position: absolute;
    right: auto;
    top: 0;
    width: 40px;
    height: 100%;
    bottom: auto;
    right: 386px;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;

    &:focus {
        outline: #0076c0 solid 3px;
        outline-offset: -3px;
    }

    display: none;

    &.show {
        display: flex;
    }

    @media screen and (max-width: 1259px) {
        .show & {
            right: 0;
            left: auto;
        }
    }
}

.cs-input-close-icon {
    width: 10px;
    height: 10px;
    opacity: 0.8;
    transition: opacity .3s ease;

    .cs-input-close:hover &,
    .cs-input-close:focus & {
        opacity: 1;
    }
}

.cs-input-close-icon:hover {
    opacity: 1;
}

.cs-input-close-icon:before,
.cs-input-close-icon:after {
    position: absolute;
    content: ' ';
    height: 10px;
    width: 2px;
    background-color: #818181;
    z-index: 101;
}

.cs-input-close-icon:before {
    transform: rotate(45deg);
}

.cs-input-close-icon:after {
    transform: rotate(-45deg);
}


// MOBILE PART

#header-mobile #mobile-header-search #mobile-search-form {
    &.show {
        display: block;
    }

    input {
        margin-left: 23px !important;
        // margin-right: 80px !important;
        padding-left: 28px !important;
        padding-right: 26px !important;
        box-sizing: border-box;
        height: 35px;
        width: 67% !important;
        border-bottom: 1px solid #979797;
        color: #818181 !important;

        &:focus {
            outline: none !important;
            border-bottom: 2px solid #0076c0;
        }
    }

    fieldset .cs-input-search-link {
        top: 5px;
        height: 35px;
        left: 23px;
        z-index: 100;
    
        i {
            padding: 0 !important;
            font-size: 16px;
        }
    }
}


#mobile-header-search {
    .cs-mobile-toggle-form {
        width: 54px;
        height: 50px;
        outline: none;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        position: absolute;
        right: 75px;
        top: 12px;
        bottom: auto;
        left: auto;

        @media screen and (max-width: 420px) {
            right: 40px;
        }
        i {
            font-size: 25px !important;
            color: #fff;
            padding: 0 !important;
            margin: 0 !important;
        }
    
        i.close-search {
            display: none;
            color: #fff;
        }
    
        .close-search-label {
            display: none;
        }
    
        &:focus {
            outline: #fff solid 3px !important;
            outline-offset: -5px;
        }
    
        &.show {
            display: none;
        }
    }

    .cs-input-search-wrapper {
        position: relative;
        background: white;
        height: 57px;
        box-shadow: 0 2px 2px 0 rgba(204, 204, 204, 0.50);
        padding-top: 8px !important;
        box-sizing: border-box;
        display: flex;
    }

    .cs-input-close {
        left: 64.5%;
        width: 35px;
        height: 35px;
        top: 8px;
        z-index: 50;
    }

    .cs-autocomplete-wrapper {
        width: 100%;
        top: 53px;
        z-index: -1;
        left: 0;
    }

    .cs-autocomplete-wrapper-item {
        padding: 5px 25px 13px;

        &:first-child {
            padding: 33px 21px 13px;
        }

        &:last-child {
            padding: 5px 25px 25px;
        }
    }

    .cs-cancel-link {
        font-family: "InterstateLight", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
        font-size: 14px;
        color: #0076C0;
        letter-spacing: 0;
        line-height: 19px;
        border: none;
        outline: none;
        margin-left: 10px;
        background-color: transparent;
        margin-top: -12px;

        &:hover {
            text-decoration: underline;
        }
        &:focus {
            outline: #0076c0 solid 3px !important;
            outline-offset: -5px;
        }
    }

}

#header-mobile #mobile-account-menu-logged-out.search-open {
    top: 75px !important;
}

#desktop-header-search>a {
    text-align: center;
}

#desktop-header-search>a .icon_x,
#desktop-header-search>a:visited .icon_x {
    padding: 0;
    padding-top: 10px;
}
