.cs-search-page {
    &-filter-wrapper {
        display: none;
        width: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        background-color: white;
        z-index: 100;
        padding-bottom: 50px;
        overflow-y: scroll;

        &.jsCsFilterDisplayBlock {
            display: block;
        }

        @media screen and (min-width: 960px) and (max-width: 1079px) {
            position: inherit;
            background-color: transparent;
            display: block;
            width: 35%;
            margin-top: 22px;
            padding-bottom: 0;
            overflow-y: hidden;
        }

        @media screen and (min-width: 1080px) {
            position: inherit;
            background-color: transparent;
            display: block;
            width: 26%;
            margin-top: 22px;
            padding-bottom: 0;
            overflow-y: hidden;
        }

        #jsCsCloseIconFilter {
            right: 7%;
            top: 25px;
            position: absolute;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 15px;
            height: 15px;

            &:focus {
                outline: 2px solid #0076c0;
            }

            @media screen and (min-width: 960px) {
                display: none;
            }
        }

        .cs-search-page-filter {
            padding-left: 25px;
            padding-right: 25px;
            padding-top: 45px;

            @media screen and (max-width: 959px) {
                width: 85%;
                margin-left: auto;
                margin-right: auto;
            }

            @media screen and (min-width: 960px) {
                padding-right: 18px;
                padding-top: 0;
                padding-left: 35px;
            }

            @media screen and (min-width: 1360px) {
                padding-left: 0;
            }
        }

        .cs-search-page-btn-filter-result {
            width: 85%;
            margin: 35px auto 0;

            @media screen and (min-width: 960px) {
                display: none;
            }
        }
    }

    &-btn-filter-wrapper {
        display: flex;
        margin-top: 18px;

        @media screen and (min-width: 600px) {
            margin-top: 20px;
            margin-left: 30px;
            margin-right: 30px;
        }

        @media screen and (min-width: 960px) {
            display: none;
        }

        .cs-search-page-btn-filter {
            width: 100%;
            margin-right: 25px;
            margin-left: 25px;
            padding-top: 15px;
            padding-bottom: 15px;
            border: 1px solid #0076C0;
            color: #0076C0;
            background-color: #ffffff;

            @media screen and (max-width: 599px) {
                width: 275px;
                margin-left: auto;
                margin-right: auto;
            }

            @media screen and (min-width: 600px) and (max-width: 959px) {
                max-width: 580px;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
}

.cs-filter-panel {
    &-title-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .cs-filter-panel-clear a {
            font-size: 13px;

            &:focus {
                outline: 2px solid #0076c0;
            }
        }
    }

    &-title {
        font-size: 16px;
        font-family: "InterstateBold", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
        text-transform: uppercase;
    }

    &-sales {
        margin-top: 35px;
        padding-bottom: 1.2rem;
        border-bottom: 1px solid #D5D5D5;

        input[type="checkbox"] {
            opacity: 0;
            position: absolute;
        }

        input[type="checkbox"] + label {
            position: relative;
            margin-bottom: 10px;
            padding-bottom: 0;
            padding-left: 30px;
        }

        input[type="checkbox"]:checked + label::before {
            content: "\2713";
            font-size: 22px;
            color: #0076c0;
        }

        input[type="checkbox"] + label::before {
            position: absolute;
            margin-left: 1px;
            left: 0;
            content: "\a0";
            cursor: pointer;
            display: inline-block;
            vertical-align: middle;
            width: 18px;
            height: 18px;
            float: left;
            margin-right: 10px;
            border: 1px solid #dcdcdc;
            background: white;
            text-align: center;
            line-height: 1;
        }

        input[aria-disabled="true"] + label {
            color: #767676;
        }
    }

    &-sales-input-label {
        cursor: pointer;
        line-height: 23px;
        font-size: 16px;
        font-family: "InterstateLight", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
}

.cs-filter-panel-wrapper {
    margin: 0;

    > li {
        &:last-of-type {
            .cs-filter-block {
                border-bottom: none;
            }
        }
    }

    .cs-filter-block {
        border-bottom: 1px solid #D5D5D5;

        &-title {
            font-size: 16px;
            font-family: "InterstateLight", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
            margin: 0;
            padding-top: 1.2rem;
            padding-bottom: 1.2rem;
            padding-left: 2px;
            cursor: pointer;
            width: 100%;
            border: none;
            background-color: transparent;
            display: flex;
            justify-content: space-between;
            align-items: center;
            text-align: left;

            .cs-arrow-icon-down {
                position: relative;
                right: 4px;
                top: 2px;
                border: 2px solid #000000;
                display: inline-block;
                height: 11px;
                width: 11px;
                border-top: none;
                border-left: none;
                transform: rotate(-45deg);
                -webkit-transform: rotate(-45deg);
                -webkit-transition: -webkit-transform .2s ease-in-out;
                transition: transform .2s ease-in-out;

                &.open {
                    transform: rotate(-135deg);
                    -webkit-transform: rotate(-135deg);
                }

            }

            &:hover {
                text-decoration: underline;
            }

            &:focus {
                outline: 2px solid #0076c0;
                outline-offset: -3px;
            }

            &.clickable {
                border-radius: 15px;
                justify-content: flex-start;

                .cs-input-close-icon {
                    display: none;
                    opacity: 0;
                    transition: none;
                    padding-right: 0.2rem;
                }

                &.selected {
                    background-color: #EEEEEE;
                    padding: 0.5rem 1rem;
                    margin-top: 0.7rem;
                    margin-bottom: 0.7rem;
                    width: 75%;

                    .cs-input-close-icon {
                        display: block;
                        opacity: 1;
                    }
                }

                .cs-arrow-icon-down {
                    display: none;
                }
            }
        }

        &-list {
            display: none;
            padding-left: 4px;
            margin-bottom: 25px;
            margin-top: -6px;

            > li {
                margin: 10px 0;

                & a {
                    display: flex;
                    align-items: center;
                    width: 85%;
                    color: #000000;
                    border-radius: 15px;
                    font-size: 13px;
                    font-family: "InterstateLight", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;

                    .cs-input-close-icon {
                        visibility: hidden;
                        transition: none;
                        padding-right: 0.2rem;
                    }

                    &.selected {
                        background-color: #EEEEEE;
                        padding: 0.5rem 1rem;

                        .cs-input-close-icon {
                            visibility: visible;
                        }
                    }

                    &:focus {
                        outline: none;
                    }
                }
            }
        }
    }
}
