.cs-no-result-page {
    &-container {
        text-align: center;
        padding: 0 20px;
        margin: 57px auto 24px;

        @media screen and (min-width: 960px) {
            margin: 154px auto 182px;
        }
    }

    &-heading-container {
        &-title {
            font-family: "InterstateLight", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-size: 20px;
            margin-top: 45px;
            margin-bottom: 0;

            @media screen and (min-width: 960px) {
                font-size: 37px;
                margin-bottom: 20px;
            }

            span {
                font-weight: bold;
            }
        }

        &-subtitle {
            font-family: "InterstateLight", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-size: 16px;
            margin-top: 14px;

            @media screen and (min-width: 960px) {
                font-size: 25px;
                margin-top: 0;
            }
        }
    }

    &-link-wrapper {
        display: inline-block;
        width: 100%;
        margin-top: 10px;

        @media screen and (min-width: 600px) {
            margin-top: 29px;
        }

        &-item {
            ul {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                @media screen and (min-width: 600px) {
                    flex-direction: row;
                }
            }

            li {
                width: 100%;
                max-width: 270px;
                padding: 27px 0;
                border-bottom: 1px solid #818181;

                @media screen and (min-width: 600px) {
                    width: auto;
                    padding: 15px 43px;
                    border-right: 1px solid #818181;
                    border-bottom: none;
                }

                &:last-of-type {
                    border-right: none;
                    border-bottom: none;
                }

                a {
                    font-family: "InterstateRegular", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
                    font-size: 16px;
                    text-transform: uppercase;

                    @media screen and (min-width: 960px) {
                        font-size: 18px;
                    }
                }
            }
        }
    }
}
