.cs-search-page {
    &-container {
        @media screen and (min-width: 960px) {
            margin-top: 87px;
        }
    }

    &-heading-container {
        text-align: center;

        @media screen and (min-width: 960px) and (max-width: 1079px) {
            text-align: left;
            margin-left: calc(65% - 263px);
        }

        @media screen and (min-width: 1080px) {
            text-align: left;
            width: calc(74% - 23px);
            margin-left: auto;
        }

        @media screen and (min-width: 1360px) {
            width: calc(74% - 21px);
        }

        .cs-search-page-heading-title {
            margin-bottom: 5px;
            font-size: 37px;

            @media screen and (max-width: 599px) {
                font-size: 20px;
            }

            @media screen and (max-width: 959px) {
                margin-top: 52px;
            }
        }

        .cs-search-page-heading-did-you-mean,
        .cs-search-page-heading-synonyms {
            display: none;
            font-family: "InterstateLight", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-size: 25px;
            margin-bottom: 25px;

            a {
                font-size: 25px;
                color: black;
                text-decoration: underline;
            }
        }

        .cs-search-page-heading-synonyms {
            line-height: 35px;
        }

        .cs-search-page-heading-total-result {
            font-family: "InterstateLight", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-size: 14px;

            @media screen and (max-width: 599px) {
                font-size: 13px;
                margin-top: 6px;
                display: inline-block;
            }
        }
    }

    &-wrapper {
        display: flex;
        width: 100%;
        flex-wrap: wrap;

        @media screen and (min-width: 960px) {
            flex-wrap: nowrap;
        }
    }

    &-result {
        &-container {
            width: 100%;
            margin-left: 20px;
            margin-right: 20px;

            @media screen and (min-width: 960px) and (max-width: 1079px) {
                width: 65%;
                margin-left: auto;
                margin-right: auto;
                max-width: 600px;

                &.jsCsFilterDisplayBlock {
                    display: block;
                }
            }

            @media screen and (min-width: 1080px) {
                width: 72%;
                margin-left: 13px;
                margin-right: 0;

                &.jsCsFilterDisplayBlock {
                    display: block;
                }
            }

            @media screen and (min-width: 1360px) {
                margin-right: 0;
            }

            &.jsCsFilterDisplayBlock {
                display: none;
            }

            &-ul {
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                overflow: hidden;
                margin-top: 0;
                padding-bottom: 10px;

                @media screen and (max-width: 599px) {
                    width: 275px;
                    margin-left: auto;
                    margin-right: auto;
                    flex-direction: column;
                }

                @media screen and (min-width: 600px) and (max-width: 959px) {
                    max-width: 600px;
                    margin-left: auto;
                    margin-right: auto;
                }
            }

            h2 {
                margin: 0 10px;
                padding-top: 20px;
                padding-bottom: 10px;
                border-bottom: 1px solid #D5D5D5;
                font-size: 16px;
                font-family: "InterstateBold", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
                text-transform: uppercase;

                @media screen and (max-width: 599px) {
                    width: 275px;
                    margin-left: auto;
                    margin-right: auto;
                    padding-top: 22px;
                    padding-bottom: 12px;
                }

                @media screen and (min-width: 600px) and (max-width: 959px) {
                    max-width: 580px;
                    margin-left: auto;
                    margin-right: auto;
                }

                @media screen and (min-width: 960px) {
                    margin: 0 13px 0 10px;
                    padding-top: 18px;
                    padding-bottom: 14px;
                }
            }
        }

        &-list {
            margin-bottom: 2rem;

            @media screen and (min-width: 600px) {
                margin-bottom: 5rem;
            }

            #cs-search-page-result-container-ul-FAQ {
                a {
                    text-transform: uppercase;
                }
            }
        }

        &-wrapper {
            padding: 0 20px 20px;
            display: flex;
            height: 100%;
            flex-direction: column;
            margin-top: auto;
        }

        &-details {
            padding-bottom: 2rem;
        }

        &-image-container {
            display: flex;
            min-height: 160px;
            justify-content: center;
            align-items: flex-start;
            padding: 0;

            img {
                max-height: 160px;
                width: auto;
            }

            &.cs-image-gift-card {
                padding: 20px 20px 0;
            }
        }

        &-item {
            flex: 0 1 275px;
            margin: 28px 0 0 0;

            @media screen and (min-width: 600px) {
                flex: 0 1 auto;
                width: calc(50% - 20px);
                margin: 30px 10px 0 10px;
            }

            @media screen and (min-width: 1080px) {
                width: calc(33% - 18px);
            }

            &-container {
                height: 100%;
                display: flex;
                flex-direction: column;
                border: 1px solid #D5D5D5;
                background-color: #ffffff;
            }
        }

        &-delivery-options {
            font-family: "InterstateLight", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-size: 11px;
            min-height: 14px;
        }

        &-detail-title {
            font-size: 18px;
            font-family: "InterstateRegular", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
        }

        &-sale-detail {
            margin-bottom: 0;
            font-size: 11px;
        }

        &-copy {
            margin: 0;
            font-family: "InterstateLight", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-size: 16px;
            line-height: 24px;

            .text-strikeout {
                text-decoration: line-through;
            }

            &.text-alert {
                color: #db031d;
                font-family: "InterstateRegular", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;

                .cs-search-page-result-sale-icon {
                    background-color: #e00;
                    color: #fff;
                    font-size: 10px;
                    padding: 2px 5px;
                }
            }
        }

        &-btn {
            margin-top: auto;

            .btn {
                margin-bottom: 0;
                color: #fff;
                font-size: 14px !important;
            }
        }

        &-link {
            margin-top: auto;

            a {
                font-family: "InterstateRegular", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
            }
        }

        &-show {
            &-more-btn {
                display: block;
                border: none;
                background-color: transparent;
                margin: 0 auto;
                color: #0076C0;
                text-transform: uppercase;
                font-family: "InterstateRegular", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
                font-size: 16px;

                &:hover,
                &:focus {
                    text-decoration: underline;
                }

                i {
                    margin-left: 13px;
                    margin-bottom: 3px;
                    border: 2px solid #0076C0;
                    display: inline-block;
                    height: 13px;
                    width: 13px;
                    border-top: none;
                    border-left: none;
                    transform: rotate(45deg);
                    -webkit-transform: rotate(45deg);

                    &.open {
                        margin-bottom: -6px;
                        transform: rotate(225deg);
                        -webkit-transform: rotate(225deg);
                    }
                }
            }
        }
    }
}
